<%= form_for [@user, @park] do |f| %>
    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id%>
        <%= f.submit "Edit", class:"submit" %>
<% end %>

