<div class='park-info'>
<div class='wrapper'>
<h1>All Parks</h1>

<% @parks.each do |park| %>
<div id='park'>
<h2>Park Name: <%= link_to park.name, park_path(park), class:'name' %></h2>

<h4>Posted by: <%= link_to park.user.name, user_path(park.user) %></h4>

<% if current_user == park.user %>


<%= link_to "Edit Park", edit_park_path(park), class: "edit-link" %> |
<%= link_to "New trails", new_park_trail_path(park) %> |
     <%= link_to "Delete Park", park_path(park), method: :delete, data: { confirm: 'Are you sure?' }%>
<% end %>

</br>
</div>
<hr />
<% end %>
</div>

 



