<div class='park-info'>
<div class='wrapper'>
<h1>All Parks</h1>

<% @parks.each do |park| %>

<h2>Park Name: <%= link_to park.name, park_path(park), class:'name' %></h2><br><br>
<p>Posted by: <%= link_to park.user.name, user_path(park.user) %> </p>




<% end %>
</div>
<div class='search-p'>

<p>Parks by location</p>
  <%= form_tag('/parks_by_location', :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "search-input" %>
      <%= submit_tag "Search", class: "btn-sm", :name => nil %>
  <% end %>
  </div>
  </div>
  


