<div class='park-info'>
<div class='wrapper'>
<h1>All Parks</h1>

<% @parks.each do |park| %>
<div id='park'>
<h2>Park Name: <%= link_to park.name, park_path(park), class:'name' %></h2>
<h3>Posted by: <%= link_to park.user.name, user_path(park.user) %></h3><br></br>
<h4 id="location-<%= park.id %>">Location: <%= truncate(park.location, length:3)%></p>

<a href="#" class="js-more btn btn-default btn-sm" data-id="<%= park.id %>">Read more<span class=" glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>

</div>
<% end %>
</div>

 



