<h1>Add a new park</h1>

<%= form_for [current_user, @park] do |f| %>
  <div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :location %><br>
  <%= f.text_field :location %>
</div>
<%= f.hidden_field :user_id, :value => current_user.id%>
      <%= f.submit "Submit", class:"submit" %>
<% end %>



<% if @park.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <p> Error: </p>
          <ul>
            <% @park.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
       <% end %>