<h2><a href="#" class="js-next-park btn btn-secondary glyphicon glyphicon-chevron-right" style="float: right;" data-id="<%=@park.id%>"></a></h2>
<h2><a href="#" class="js-previous-park btn btn-secondary glyphicon glyphicon-chevron-left" style="float: left;" data-id="<%=@park.id%>"></span></a></h2>

<div class='wrapper-park'>
<header class='park-header'>
<center>
<h1> Park Name: <%= @park.name %></h1><br>
 <h3 class="item1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Location: &nbsp;&nbsp;&nbsp;<%= @park.location %></h3><br>
</center>
</header>
 

<div class="container">   

 <div class="row">

 <div class="col-md-8" id='parkImage' style= 'float: right;'>
 <br></br>
     <%= image_tag @park.image.url(:medium) if @park.image? %>
     </div>
      
     
     
   </br>
   <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trails:</h2>
     <div class="col-md-4" id="park">
     <center>
    <% @park.trails.each do |trail|%>

  <h3><%= link_to trail.name, trail_path(trail) %></h3>
 
   <% end %>
   </center>
   </div>
   </div>
   </div>
   </div>