<center>
<h1> Sign Up </h1>

<%= form_for @user do |f| %>
    <div class="form-group">
        
        
        <%= f.text_field :username, placeholder: "Username" %><br>
        <%= f.email_field :email, placeholder: "Email" %><br><br>
        <%= f.password_field :password, placeholder: "Password (6 char min)" %><br><br>
        
        <%= f.submit "Submit" %>
        </div>

      <% end %>