
<div class = 'users'>
<div class='wrapper'>
<% if current_user == @user %>
    <h1 class="card-title">Hello <%= @user.name %>!</h1>
  <% else %>
    <h1 class="card-title"><%=@user.name%>'s profile page</h1>
  <% end %>
<% if @user == current_user %>
 <h2> You have logged <%= "#{@user.parks.size}"%> park(s)</h2>
 <% else %>
 <h2>Parks logged: <%= "#{@user.parks.size}" %></h2>
<% end %>
<div id='parks'>
<a href="#" class="js-view-parks btn btn-primary btn-lg" data_id="<%=@user.id%>"> View Parks </a>
<% @user.parks.each do |park| %>
    
    
   


<% end %>
</div>
<div class="container" style="width:80%;">
  <div class="usersParks">
  </div>
</div>
<br></br>

<% if @user == current_user %>
<h3><%= link_to "Add a Park", new_user_park_path(@user) %></h3>

<% end %>



  <h3>Need some inspiration to decide your next journey? Check out this video!</h3>
<div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/0iqF2Tk_1WA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>



