

<h1> <%= @user.username %>'s Parks </h1>

<% if @user == current_user %>
 <h2> You have logged <%= "#{@user.parks.size}"%> park(s)</h2>
 <% else %>
 <h2>Parks logged: <%= "#{@user.parks.size}" %></h2>
<% end %>

<% @user.parks.each do |park| %>
    
    <h2>Park Name: <%= link_to park.name, park_path(park), class:'name' %></h2>
    
    <h3> Park location <%= park.location %></h3>
<% end %>


<% if current_user %>
<%= link_to "Add a Park", new_user_park_path(@user) %> |

<% end %>
