
<div class="trails-index">
<div class='wrapper'>

<h1>All Trails</h1>
<% @trails.each do |trail| %>

<h2>Trail Name: <%= link_to trail.name, trail_path(trail), class:'name' %></h2>
<h4>Posted by: <%= link_to trail.park.user.name, user_path(trail.park.user) %></h4>
<h4 id="description-<%= trail.id %>">Notes:<%= truncate(trail.description, length:3)%></p>

<a href="#" class="js-more" data-id="<%= trail.id %>">Read more<span class=" glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
<hr />
<% end %>

</div>
</div>


