<h1>Add a new trail</h1>

<%= form_for [@park, @trail] do |f| %>
    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.number_field :distance %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  </div>
  
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :user_id, :value => current_user.id%>

        <%= f.submit "Create Trail", class:"submit" %>
<% end %>