

<div class="center">

    <div class="col-md-5">
     <div class: 'img-fluid'>
    <%= image_tag @trail.image.url(:medium) if @trail.image? %>
    </div>
   
    </div>
    
  </div>
  <h2>Trail Name: <%= @trail.name %></h2>
<h3>Park Name: <%= link_to @trail.park.name, park_path(@trail.park) %></h3>


 <h4>Distance:&nbsp;&nbsp;&nbsp;<%= @trail.distance %> miles</h4>
 <h4>Date:&nbsp;&nbsp;&nbsp;<%= @trail.date.strftime('%B, %d %Y') %></h4>
 <h4>Difficulty: <%= @trail.difficulty %></h4>
  <h4>Trail Notes: <%= @trail.description %></h4>
  <h4 id="trail-links"><% if current_user.trails.include?(@trail) %>
      <%= link_to "Edit Trail", edit_trail_path(@trail), class: "edit-link" %>&nbsp;&nbsp;&nbsp;
     <%= link_to "Delete Trail", trail_path(@trail), :confirm => "Are you sure?", :method => :delete, class: "delete-link"%>

    <% end %></h4>
   
    


   
    

    </br>
    <br>
    </br>
   <div class="center">
   <div class="container">
    <% if current_user %>
    <h4>Add a comment:</h4>
      <%= form_for @comment, url: trail_comments_path(@trail, @comment)  do |f| %>
        <p><strong>Content</strong> <%= f.text_area :body, class: 'commentBox form-control'  %></p>
        
        <%= f.hidden_field :user_id, :value => current_user.id%> 
        <button type="submit" class="btn btn-sm btn-primary">Create Comment</button>
      <% end %><br>
  <% else %>
    <p>Please log in order to add a comment.</p>
  <% end %>
    <h2> Comments: (<%= @trail.comments.count %>) </h2>
    <% @trail.comments.each do |comment| %>
   <br></br>
   <div class="well">
    <strong class="commentUserName"><%= comment.user.name %></strong> says: <br></br><span class="commentContent"><%= comment.body %></span>
     <p class="text-muted">Added  on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
  </div>
  </div>
  </div>
  
  
  <% end %>
  
  