
<div id="trail">
   
<div class="container">
<div class="row">

<div class="col-md-5">
<br></br>
<%= image_tag @trail.image.url(:medium) if @trail.image?%>
</div>



<div class="col-md-5" id='trailPage'>

  <h2 class='trailName'>Trail Name: <%= @trail.name %></h2>
  <h3 class='trailPark'>Park Name: <%= link_to @trail.park.name, park_path(@trail.park) %></h3>


 <h4 class='trailDistance'>Distance:&nbsp;&nbsp;&nbsp;<%= @trail.distance %> miles</h4>
 <h4 class='trailDate'>Date:&nbsp;&nbsp;&nbsp;<%= @trail.date.strftime('%B, %d %Y') %></h4>
 <h4 class='trailDifficulty'>Difficulty: <%= @trail.difficulty %></h4>
  <h4 class='trailNotes'>Trail Notes: <%= @trail.description %></h4>
  <h4 class='trailUserName'>Trail User: <%= @trail.park.user.name %></h4>
  
  
  <% if current_user == @trail.park.user %>
  <h4 id="trail-links">
      <%= link_to "Edit Trail", edit_trail_path(@trail), class: "edit-link" %>&nbsp;&nbsp;&nbsp;
     <%= link_to "Delete Trail", trail_path(@trail), method: :delete, data: { confirm: 'Are you sure?' }%>

    <% end %></h4>
    </div>
    </div>
    </div>

    <div class="center">
    <a href="#" class="js-previous btn btn-primary btn-sm" data-id="<%=@trail.id%>">View Previous Trail</a><br><br>
    <a href="#" class="js-next btn btn-primary btn-sm" data-id="<%=@trail.id%>">View Next Trail</a><br><br>
   </div>
    
   <div class="box-div">
   </div>
    
    <section id='comments'>
    
      <div class='container'>
    <% if current_user %>
    <h4>Add a comment:</h4>
    <div class='new-comment'>
    <%= form_for @comment, url: trail_comments_path(@trail, @comment)  do |f| %>
        <p><strong>Content</strong> <%= f.text_area :body, class: 'commentBox form-control'  %></p>
        
        <%= f.hidden_field :user_id, :value => current_user.id%> 
        <%= f.hidden_field :trail_id, :value => :trail_id %>
        <button type="submit" class="btn btn-sm btn-primary">Create Comment</button>
      <% end %><br>
    
      </div>
      <% end %>
   </div>
  
    <h2><%= link_to "Comments:", trail_comments_path(@trail), class: "comment-link" %> (<%=(@trail.comments.size)%>)</h2>
    <section class='comment-sec'>
<% @trail.comments.each do |comment| %>
   
  <div class="well well-white" id="comment-<%= comment.id %>">
   <strong><%= comment.user.name %></strong> says: <br></br>
     <p><%= comment.body %></p>
     <% if current_user == comment.user %>
     <span class='js-remove' ><%= link_to '',trail_comment_path(@trail, comment), method: :delete,
     data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %> </span>
   <% end %>
</div>

<% end %>

</section>

 </div>
 
 </section>
  
  
  
  
 
  
  