
<section id="photo">
   
<div class="container">
<div class="row">

<div class="col-md-5">
<br></br>
<%= image_tag @trail.image.url(:medium) if @trail.image?%>
</div>



<div class="col-md-5">

  <h2>Trail Name: <%= @trail.name %></h2>
<h3>Park Name: <%= link_to @trail.park.name, park_path(@trail.park) %></h3>


 <h4>Distance:&nbsp;&nbsp;&nbsp;<%= @trail.distance %> miles</h4>
 <h4>Date:&nbsp;&nbsp;&nbsp;<%= @trail.date.strftime('%B, %d %Y') %></h4>
 <h4>Difficulty: <%= @trail.difficulty %></h4>
  <h4>Trail Notes: <%= @trail.description %></h4>
  <h4>Trail User: <%= @trail.park.user.name %></h4>
  
  
  <% if current_user == @trail.park.user %>
  <h4 id="trail-links">
      <%= link_to "Edit Trail", edit_trail_path(@trail), class: "edit-link" %>&nbsp;&nbsp;&nbsp;
     <%= link_to "Delete Trail", trail_path(@trail), :confirm => "Are you sure?", :method => :delete, class: "delete-link"%>

    <% end %></h4>
    </div>
    </div>
    </section>

    
  
    
   <div class="box-div">
   </div>
    
    <section id='comments'>
    
      <div class='container'>
    <% if current_user %>
    <h4>Add a comment:</h4>
      <%= render 'comments/form' %>
      <% end %>
   </div>
  
    <h2> Comments: (<%= @trail.comments.count %>) </h2>
    <%= render 'comments/comment' %>

 </div>
 
 </section>
  
  
  
  
 
  
  