
<h2>Trail Name: <%= @trail.name %></h2>
<h3>Park Name: <%= @trail.park.name %></h3>

 <p class="item1">Distance:&nbsp;&nbsp;&nbsp;<%= @trail.distance %> miles</p><br>
 <p class="item1">Date:&nbsp;&nbsp;&nbsp;<%= @trail.date.strftime('%B, %d %Y') %>
</div> </p><br>

 <h4>Trail Notes: <%= @trail.description %></h4>
  <p id="trail-links"><% if current_user.trails.include?(@trail) %>
      <%= link_to "Edit Trail", edit_trail_path(@trail), class: "edit-link" %>&nbsp;&nbsp;&nbsp;
     <%= link_to "Delete Trail", trail_path(@trail), :confirm => "Are you sure?", :method => :delete, class: "delete-link"%>

    <% end %></p>
    <div class="col-md-4 col-sm-6 col-xs-12-B-1">
    <%= image_tag @trail.image.url if @trail.image?  %>
    <br><br>
   
    
  </div>
</div>
   
    <%= link_to "Home", root_path %> |
    <%= link_to "Profile", user_path(@trail.user) %> |<br>

    </br>
   
    <% if current_user %>
    <h4>Add a comment:</h4>
      <%= form_for @comment, url: trail_comments_path(@trail, @comment)  do |f| %>
        <p><strong>Content</strong> <%= f.text_area :body, class: 'commentBox form-control'  %></p>
        
        <%= f.hidden_field :user_id, :value => current_user.id%> 
        <button type="submit" class="btn btn-sm btn-primary">Create Comment</button>
      <% end %><br>
  <% else %>
    <p>Please log in order to add a comment.</p>
  <% end %>
    <h2> Comments: (<%= @trail.comments.count %>) </h2>
    <% @trail.comments.each do |comment| %>
   <br></br>
   <div class="well">
    <strong class="commentUserName"><%= comment.user.username %></strong> says: <br>
    
    <span class="commentContent"><%= comment.body %></span>
     <p class="text-muted">Added  on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
  </div>
  
  
  <% end %>
  
  