<!DOCTYPE html>
<html>
  <head>
    <title>ParksBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <% if logged_in? %>
            <a class="navbar-brand" href="/trails" style="color:white;">Parks-book</a>
           
          <% else %>
            <a class="navbar-brand" href="/" style="color:white;">Parks-book</a>
          <% end %>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      
      <ul class="nav navbar-nav navbar-right">
      
      <% if !logged_in? %>

        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      
      <% end %>

      <% if current_user %>
      
      <li><%= link_to "Welcome, #{current_user.name}!", user_path(current_user) %></li>
    
      

               
           <li><a href="/parks" style="color: white;">Parks</a></li>
          <li><a href="/trails" style="color: white;">Trails</a></li>
          <li><a href="/logout" style="color: white;">Log Out</a></li>
          
        <% end %>
        </ul>
    </div>
  </div>
</nav>



  <% if flash[:notice] %>
                <div class="alert alert-danger" role="alert"><%= flash[:notice] %></div>
              <% end %>

              <% if flash[:msg] %>
                <div class="alert alert-success" role="alert"><%= flash[:msg] %></div>
              <% end %>
              
              
    <%= yield %>




<!-- Footer -->
<footer class="text-center">
  
  <small>&copy; 2018 <strong>Parks-book </strong>All Rights Reserved.</small>
</footer>
      </div>
  </body>
</html>
