<!DOCTYPE html>
<html>
  <head>
    <title>ParkBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
     <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #00BFFF;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if logged_in? %>
            <a class="navbar-brand" href="/trails" style="color:white;">Parks-book</a>
          <% else %>
            <a class="navbar-brand" href="/" style="color:white;">Parks-book</a>
          <% end %>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if !logged_in? %>

              <li><a href="/signup" style="color: white;">Signup</a></li>
              <li><a href="/login" style="color: white;">Log In</a></li>
            <% end %>
            <% if current_user %>
          <li><%= link_to "Welcome, #{current_user.username}!", user_path(current_user) %></li>
        <% end %>
          

            <% if logged_in? %>

              
               <li><a href="/parks" style="color: white;">Parks</a></li>
              <li><a href="/trails" style="color: white;">Trails</a></li>
              <li><a href="/logout" style="color: white;">Log Out</a></li>
              
            <% end %>
            

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <br></br>

  <% if flash[:notice] %>
                <div class="alert alert-danger" role="alert"><%= flash[:notice] %></div>
              <% end %>

              <% if flash[:msg] %>
                <div class="alert alert-success" role="alert"><%= flash[:msg] %></div>
              <% end %>
              <%= console %>
    <%= yield %>

    <p class="search-p">Trails by distance</p>
                <%= form_tag('/trails_by_distance', :method => "get", id: "search-form") do %>
                    <%= number_field_tag :search, params[:search], placeholder: " whole miles", class: "search-input" %>
                    <%= submit_tag "Search", class: "btn-sm", :name => nil %>
                <% end %>
    <footer class="branding">
        <center><small>&copy; 2018 <strong>Parks-book </strong>All Rights Reserved.</small></center>
      </footer>
    </div>
  </body>
</html>
